* {
    margin: 0;
    padding: 0;
}

body {
 font-family: Geneva;
 background-image: url(imagem/ocean.jpg);
}

header {
    color: white;
    padding: 30px 15px;
    text-align: center;
    background-color: rgb(3, 28, 65);
    border-radius: 25%;
}

#mainphoto{
 display: block;
 padding: 30px 15px;
 margin-left: 150px;
}

nav{
    background-color: #f5f5f5 ;
    padding: 30px 15px;
    margin: 30px;
    border-radius: 6%;
}

article {
    margin: 30px;
    background-color: #f5f5f5;
    border-radius: 6%;
}

.section {
    margin: 30px;
    background-color: #f5f5f5;
    border-radius: 2%;
    padding: 30px 10px;
}

#olhos {
  display: inline;
  margin-inline: 700px;
  width: 400px;
  display: inline-block;
  border-radius: 10%;
}

#patinhas {
 display: inline;
 margin-inline: 700px;
 width: 400px;
 display: inline-block;
 border-radius: 10%;
}

.subsection1 {
    margin: 30px;
    margin-right: 600px;
    padding-top: 10px;
    display: inline-block;
}

.subsection2 {
    margin: 30px;
    margin-right: 600px;
    padding-top: 10px;
    display: inline-block;
}

.referencias{
    margin: 30px;
    background-color: #f5f5f5;
    border-radius: 4%;
}

footer{
    background-color: #f5f5f5;
}