.App {
  text-align: center;
}

.button-type{
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: rgba(116, 0, 170, 0.753);
  color: aliceblue;
}

.button-next{
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: rgba(46, 6, 65, 0.863);
  color: aliceblue;
}
